.header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
}

.header-accent-contact {
  width: clamp(4rem, 8rem, 9rem);        
  height: 1.3rem;    
  background: rgb(215, 94, 156); 
  margin-left: 7vw;      
  margin-top: -2.5vh; 
  z-index: -1;
  align-self: center;
}

.header-description {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.7rem, 1vw, 1rem);
    max-width: 30vw;
    margin-top: 3vh;
}


.email-button {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid rgb(215, 94, 156);
    padding: 0.5rem 1rem;
    width: 10vw;
    transition: color 0.2s ease;
    background: transparent;     
    border: none;             
    cursor: pointer;            
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}


.email-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(215, 94, 156);
    transition: height 0.2s ease;
    z-index: -1;
}

.email-button:hover {
    color: black;
}

.email-button:hover::before {
    height: 100%;
}